{% extends "cryptorates/head.html" %}

{%block homepage%}

<table class="table">
  <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="col">Coin</th>
      <th scope="col">Buy</th>
      <th scope="col">Sell</th>
      <th scope="col">BuyChange%</th>
      <th scope="col">SellChange%</th>
    </tr>
  </thead>
  <tbody>
  <!--values is type of input [{'A':'B','N':'M'}] in jinja2 we dict['A'] = dict.A-->

  {% for coindata in curr_rate %}
      <tr>
        <th scope="row" >{{ loop.index}}</th>
        <!--<td></td>-->
        <td >
          <img src="/static/cryptorates/logo/{{coindata}}.png" alt={{coindata}} width="16" height="16" />

           <a>{{coindata}}</a>

        </td>
        <td>{{curr_rate[coindata][0]}}</td>
        <td>{{curr_rate[coindata][1]}}</td>

        <td>
        {% if curr_rate[coindata][2] < 0 %}
          <p class= 'NegativeTransaction'>{{curr_rate[coindata][2]}}</p>
          {%elif curr_rate[coindata][2] == 0 %}
          <p>-{{curr_rate[coindata][2]}}</p>
        {% else %}
          <p class="PositiveTransaction">+{{curr_rate[coindata][2]}}</p>
        {% endif %}
        </td>

        <td>
        {% if curr_rate[coindata][3] < 0 %}
          <p class = 'NegativeTransaction'>{{curr_rate[coindata][3]}}</p>
          {%elif curr_rate[coindata][3] == 0 %}
          <p>-{{curr_rate[coindata][3]}}</p>
        {% else %}
          <p class="PositiveTransaction">+{{curr_rate[coindata][3]}}</p>
        {% endif %}
        </td>
      </tr>
  {%endfor%}
  </tbody>
</table>
{%endblock%}