{%extends "cryptorates/head.html"%}

{% block content %}
    <form method="post" class="formalign">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div>
            <input name="coin"
                           type="text" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
       </div>
    </form>

    <div>

        {%for coin in coinscookie%}
        <li>{{coin}}</li>
        {%endfor%}
    </div>
{% endblock %}