{% extends "cryptorates/head.html" %}
{%block content%}

<section class="userlogin">
<h1>Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    <form method="post" class="formalign">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <table>
            <tr>
                <td><label for="id_username">Username</label></td>
                <td><input id="id_username" name="username"
                           type="text" class="form-control"></td>
            </tr>
        <tr>
             <div class="form-group">
            <td>Password</td>
            <td>{{ form.password }}</td>
             </div>
        </tr>
        </table>
           <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
           </div>
        </div>
            <a class="forgot-pwd" href="/account/password_reset">Forgot password?</a>
        </div>
            <div class="form-group">
           <p class="section-register-footer">
                <span>Don't have an account?</span>
                    <a href="/login/accounts/register">Sign Up</a>
                </p>
           </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</section>>
{% endblock %}