{% extends "cryptorates/head.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Logged Out </h1>
  <p class="lead">Please Login again to use our features!!!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{{url('home')}}" role="button">Home</a>
</div>

{% endblock %}