{% extends "cryptorates/head.html" %}

<title>Register</title>

{%block content%}
<h1>Register</h1>
<form action="/login/accounts/register" method="post">

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  {% if form.non_field_errors() %}
    <ul>
      {% for error in form.non_field_errors() %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% endfor %}
    </ul>
  {% endif %}


  <table>
    {% for field in form.visible_fields() %}
      <tr>
        <div class="form-group">
        <th>{{ field.label_tag() }}</th>
      </div>
        <td>
          {% if field.errors %}
            <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ field }}

          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </br>
        </td>
      </tr>
    {% endfor %}
  </table>

   <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endblock%}