{%extends "blog/head.html"%}

{%block homepage%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coin</th>
      <th scope="col">Buy</th>
      <th scope="col">Sell</th>
    </tr>
  </thead>
  <tbody>
  {% for coindata in values %}
    <tr>
      <th scope="row">{{coindata.id}}</th>
      <td>{{coindata.CoinSymbol}}</td>
      <td>{{coindata.BuyRate}}</td>
      <td>{{coindata.SellRate}}</td>
    </tr>
  {%endfor%}
  </tbody>
</table>
{%endblock%}