{% extends 'cryptorates/head.html'%}
<body>
{%block content%}
<form method="POST" class="post-form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% for field in form %}
    <div class="form-group">
        <strong>{{ field.name }}</strong>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</form>
</body>
{%endblock%}
