{%extends "cryptorates/head.html"%}

{%block content%}
    <body>
    <div class="jumbotron">
      <h1 class="display-4">{{request.user.username}}</h1>
      <p class="lead">List of transaction </p>
        <a class="btn btn-primary" href="/profile/profileform" role="button">Add Transaction</a>
    </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Coin</th>
      <th scope="col">Rate</th>
      <th scope="col">Quantity</th>
      <th scope="col">Trade</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
    <tbody>
     {% for userdata in userprofile %}
        <tr>
            <td>{{userdata.coin}}</td>
            <td>{{userdata.at_rate}}</td>
            <td>{{userdata.quantity}}</td>
            <td>{{userdata.operatiotype}}</td>
            <td>{{userdata.datetime}}</td>
        </tr>
     {% endfor %}
    </tbody>
</table>

    </body>
{% endblock %}