p.NegativeTransaction {
  color: #d8211d;
}

p.PositiveTransaction {
  color: #229e0c;
}

section.userlogin{
    color:#fff;
    padding-top:60px;
    background-color:#0084d4;
    text-align:center;
}

.formalign{
    display:inline-block;
    width:360px
}