{%extends 'cryptorates/head.html'%}
{%block content%}
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">LaunchID</th>
      <th scope="col">Running</th>
      <th scope="col">Pass</th>
      <th scope="col">Fail</th>
    </tr>
  </thead>
  <tbody>
  {%for elem in infodata%}
    <tr>
      <th scope="row">{{elem}}</th>
      <td>{{infodata[elem]['Running']}}</td>
      <td>{{infodata[elem]['Pass']}}</td>
      <td>{{infodata[elem]['Fail']}}</td>
  {%endfor%}
    </tr>
  </tbody>
</table>


</body>
{%endblock%}