{% extends 'cryptorates/head.html'%}
<body>
{%block content%}
<form method="POST" class="post-form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{form.as_p()}}
    <input type='submit' value='submit'>
</form>
</body>
{%endblock%}