{% extends 'cryptorates/head.html'%}
<body>
{%block content%}
<form method="POST" class="post-form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="row form-row spacer">
            <div class="col-2">
                <label>{{form.TestName.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group">
                    {{form.TestName}}
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="row spacer">
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Create</button>
            </div>
        </div>

</body>
{%endblock%}